@import url('https://fonts.googleapis.com/css?family=Quicksand:600&display=swap');

* {
	font-family: 'Quicksand', sans-serif;
}
.App {
	text-align: center;
}

a {
	color: #f85c70;
	text-decoration: none;
}
.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 25px;
	border-bottom: 1px solid rgba(255, 0, 0, .2);
}

.navLinks {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 30%;
	padding-left: 0;
}
.navItem {
	list-style: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.navItem a:hover {
	padding-bottom: 5px;
	border-bottom: 1px solid #f85c70;
}

.navItem img {
	height: 12px;
	width: 12px;
	padding-right: 10px;
}

.navSearch {
	padding: 10px 0px;
	width: 30%;
}

.navSearch input {
	width: 60%;
	height: 25px;
	padding: 3px;
}

.navSearch button {
	width: 30%;
	height: 35px;
}

.btn {
	color: #ffffff;
	background-color: #f85c70;
	border: 0px;
}

.btn-search {
	border-radius: 0px 5px 5px 0px;
}

.container {
	padding: 10px 20px;
}

.posts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.single-post {
	margin: 0 10px;
	height: 20%;
	padding: 0 0 10px 0;
}

.card {
	width: 15vw;
	border: 1px solid rgba(255, 0, 0, .2);
	border-radius: 10px;
}

.card img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	object-fit: cover;
}

.post-image {
	position: relative;
}
.post-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
}

.post-details p {
	font-size: small;
}

.btn-view-more {
	height: 30px;
	width: 30%;
}

.tag {
	padding: 5px;
	color: #ffffff;
	width: 20%;
	font-size: .7rem;
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.red {
	background-color: #b20002;
}

.green {
	background-color: #00b211;
}
